@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>This page contains information about how to contact me</h3>

<address>
	You can contact me on the following social network pages:
	<br />
	<strong>GitHub: </strong> <a href="https://github.com/diegoyann">https://github.com/diegoyann</a><br />
	<strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/diegoyann/">https://www.linkedin.com/in/diegoyann/</a><br />
	
</address>

